
.download{
padding: 100px 0;
background-color: black;
margin-top: 10px;
}
.download_image img{
    width: 500px;
}
.downloading_box{
   margin-left: 100px;
   margin-top: -110px;
}
.downloading_box .card{
    width:300px;
}
.downloading_box .card-body{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    background-color: black;
    border: 2px solid gray;
    align-items: center;
    padding: 5px;  
    border-radius: 5px; 
}

.card-body .down_item ul li{
    list-style: none;
}
.card-body .down_item ul{
    margin-left: -50px;
}
.card-body .down_item p {
    color: blue;
    font-size: 15px;
}
.card-body .down_item h4{
    font-size: 18px;
    color: white;
}
.card-body .down_item img{
display: block;
width: 50px;
height: 65px;
object-fit: cover;
border-radius: 4px;
margin: auto;
}
.download_content{
    padding-top: 25%;

}
.download_content h2{
    color: white;
    font-size: 45px;
    font-weight: 800;
}
.download_content h5{
    font-size: 20px;
    color: #fff;
}
